@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
    user-select: none;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

i {
    position: absolute;
    font-size: 48px;
    color: #fefefe;
    right: 0;
    margin: 30px;
    transition: 0.2s ease;
}

i:active {
    transform: scale(0.9);
}

.game-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff08c;
    background: linear-gradient(37deg, rgba(255, 240, 140, 1) 0%, rgba(75, 219, 135, 1) 50%, rgba(46, 144, 219, 1) 100%);
}

#title {
    color: #21618c;
}

.game-container .container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    margin: 20px 0;
}

#reset {
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 18px;
    border: none;
    background-color: #2874a6;
    color: #e5e7e9;

    transition: 0.2s ease;
}

#reset:active {
    transform: scale(0.9);
}

.alert {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s ease;
    z-index: 999;
}

.alert.show {
    opacity: 1;
    visibility: visible;
}

.alert .container {
    width: 400px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alert .container button {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;

}

#alert-message {
    font-size: 20px;
    padding: 10px 0;
}

.box {
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    margin: 1px;
    box-shadow: 2px 2px 2px rgba(66, 68, 90, 0.5);
    transition: 0.2s ease;
}

.box:active {
    transform: scale(0.9);
}

.br-0 {
    border-right: 0;
}

.bl-0 {
    border-left: 0;
}

.bt-0 {
    border-top: 0;
}

.bb-0 {
    border-bottom: 0;
}
